<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-moJ1voZY-MVrr472Mc169Awhu5FKdQA</string>
	<key>GCM_SENDER_ID</key>
	<string>175085076301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medAdhenrenceApp</string>
	<key>PROJECT_ID</key>
	<string>med-app-7b6e1</string>
	<key>STORAGE_BUCKET</key>
	<string>med-app-7b6e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175085076301:ios:673e2f6e8fbd15e9f74104</string>
</dict>
</plist>